
.container {
    padding:20px;
    margin:10px;
    width:100%;

    progress[value] {
        /* Reset the default appearance */
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    &--red {
        progress[value] {
            /* Reset the default appearance */
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    
        progress::-moz-progress-bar {
            background-color: red;
        }

        progress::-webkit-progress-value {
            background-color: red;
        }
    }
}








