<div class="container">
  <h1>Progress Bar Demo</h1>
  <div class="container--bars">
    <app-progressbar *ngFor="let item of data.bars" [barNum]="item" [limit]="data.limit">
    </app-progressbar>
  </div>
  <div class="container--controls">
    <app-button class="container--controls__buttons" *ngFor="let button of data.buttons" [value]="button" (progressBarValue)="onButtonClick($event)">
    </app-button>
    <select class="container--controls__bardropdown" name="barDropDown" id="barDropDown"
      [(ngModel)]="selectedBarNumber">
      <option *ngFor="let bar of data.bars;" value="{{bar}}">Progressbar {{bar}}</option>
    </select>
  </div>
</div>